html, body {
       height:100%;
}

body {
       background-color: #FF8A65;
}

.container {
    background-color: #FF5722;
    color: #FBE9E7;
    height: 98%;
}

b {
       margin-right: .2em;
}
span {
    color: #FBE9E7;
    font-size: 1.5em;
}

table {
    padding: 20px;
}

label {
    font-size: 1.2em;
}

#inputInfo label{
       text-align: right;
}
