/*
Name:  Yunha Jang

Page Description: This is the main CSS file for this application and defines
all of the styles required for all pages in the app.

Files: index.hthml - Main page
       css/main.css - the main style for this app
       js/myFunction.js - Javascript functions & constants specific to this app
       images/head.jpg - image used in this app
*/
body {
    background-color: #FF5722;
    color: white;
}

#inputInfo label{
    text-align: right;
}
b {
    margin-right: .2em;
}
span {
    color: #FBE9E7;
    font-size: 1.5em;
}
table {
    padding: 20px;
}
/*
table {
    border: 2px solid olivedrab;
    width: 25em;
    border-collapse: collapse;
    margin: 1em;
}
#outputInfo th, #outputInfo td {
    text-align: left;
    width: 12em;
    margin: 1em;
    padding: 0.5em;
}
th {
    color: darkgreen;
    font-size: 1.2em;
}

#price td {
    border: 1px olivedrab dashed;
    padding: .2em;
    margin: 1em;
}

